<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GhostApp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>4EAAA5FF99EFC1269C6ED65D65E2946983010155</string>
				<key>dateExpires</key>
				<string>20/01/23</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EAAA5FF99EFC1269C6ED65D65E2946983010155</string>
						<key>dateExpires</key>
						<string>20/01/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W8WKRUXL98</string>
						<key>name</key>
						<string>LYK INC</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.9</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EAAA5FF99EFC1269C6ED65D65E2946983010155</string>
						<key>dateExpires</key>
						<string>20/01/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W8WKRUXL98</string>
						<key>name</key>
						<string>LYK INC</string>
					</dict>
					<key>versionNumber</key>
					<string>5.12.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EAAA5FF99EFC1269C6ED65D65E2946983010155</string>
						<key>dateExpires</key>
						<string>20/01/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftLoader.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W8WKRUXL98</string>
						<key>name</key>
						<string>LYK INC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EAAA5FF99EFC1269C6ED65D65E2946983010155</string>
						<key>dateExpires</key>
						<string>20/01/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftQRScanner.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W8WKRUXL98</string>
						<key>name</key>
						<string>LYK INC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EAAA5FF99EFC1269C6ED65D65E2946983010155</string>
						<key>dateExpires</key>
						<string>20/01/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Toast_Swift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W8WKRUXL98</string>
						<key>name</key>
						<string>LYK INC</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>W8WKRUXL98.com.pcus.LYK</string>
				<key>com.apple.developer.team-identifier</key>
				<string>W8WKRUXL98</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>GhostApp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>81a6ad1a-0b72-4b6c-9b25-1cf2e766bf3a</string>
				<key>dateExpires</key>
				<string>31/03/23</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.pcus.LYK</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>W8WKRUXL98</string>
				<key>name</key>
				<string>LYK INC</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
